.chat-app {
    display: flex;
}
.chat-app div{
    flex-basis: 33%;
}
.historic-chat {
  color: #ccc;
}
.historic-chat li,
.chat li {
    list-style: none;
}
.historic-chat li,
.chat li span {
    font-weight: 700;
}